html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  font-style: normal;
  color: #1B1A17;
}

h1 {
  font-size: 4.5rem;
  line-height: 6rem;
  text-align: center;
}

h2 {
  font-size: 3.2rem;
  line-height: 4.27rem;
  text-align: center;
}

p {
  display: block;
  font-size: 2rem;
  line-height: 2.6rem;
  text-align: center;
}

span {
  display: block;
  margin: 10px;
}

.header, .previous-comments {
  background-color: aliceblue;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
}

.comment-form {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

.comment-form >* {
  padding: 10px 0;
}

.input, .comment-text {
  width: 100%;
  font-size: 1.6rem;
  padding: 10px;
  border: 1px #1B1A17 solid;
  border-radius: 5px;
  margin-bottom: 5px;
}

.input {
  height: 40px;
}

.comment-text {
  min-height: 200px;
  resize: vertical;
}

.button {
  width: 160px;
  height: 45px;
  background-color: aliceblue;
  border: 1px solid;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(173, 213, 247);
  transition: transform 0.5s;
}

.input.error {
  box-shadow: 0 0 15px #c91a03;
}

.error-message {
  display: none;
  text-align: start;
  color: #c91a03;
}

.error .error-message {
  display: block;
}

.comment-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.comment {
  background-color: white;
  padding: 10px;
  margin: 10px;
  max-height: 300px;
  overflow: auto;
  border-radius: 5px;
}

.comment >* {
  padding: 5px 0;
}

.comment__date, .comment__time {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #61605d;
  padding: 3px 0;
}

.comment__user-name {
  font-weight: 700;
}

.comment__content {
  inline-size: 320px;
  overflow-wrap: break-word;
}

.remove {
  width: 26px;
  height: 26px;
  background: url(img/remove.png) no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.like {
  width: 26px;
  height: 26px;
  background: url(img/fauvorite-icon.svg) no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.like.active {
  background: url(img/likeactive.svg) no-repeat;
  background-position: center;
  background-size: contain;
}
